* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    background-color: rgb(250, 250, 250);
}

header {

    position: sticky;
    top: 1px;
}

#wraipper {
    background-color: white;
    height: 90px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.logo {
    width: 240px;
    height: 90px;
    object-fit: cover;
    padding: 10px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    right: 20px;
    top: 15px;
}
#wraipper i 
{
    font-size: 30px;
    color: black;
    display: none;
}

.item ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.item ul li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;

}

.item ul li a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin: 15px 20px;
    position: relative;
    padding: 5px 8px;
}

.item ul li a:before {
    content: '';
    border-bottom: 2px solid rgb(0, 128, 208);
    border-radius: 50%;
    position: absolute;
    width: 0;
    bottom: 0;
    left: 0;
}

.item ul li a:hover::before {
    width: 100%;

}

.item ul li a:hover {
    color: rgb(0, 128, 208);
    transform: scale(1.1);

}

.hedding {
    width: 700px;
    margin: auto;
    margin: 30px auto 0;

}

.hedding h3 {
    text-align: center;
}

.hedding p {
    text-align: center;
    margin: 10px;
}

.centerimage {
    width: 800px;
    height: 300px;
    border-radius: 15px;
    object-fit: cover;
    background-color: #dedede;
    margin: 15px auto;
    position: relative;
    z-index: -1;

}

.centerimage img {
    width: 100%;
    height: 100%;

}

.taitaliamge {
    margin: 10px;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.mainhedding {
    margin: 40px auto 40px;
}

.mainhedding h2 {
    text-align: center;
}

#box {
    width: 290px;
    height: 450px;
    background-color: #dedede;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(128, 128, 128, 0.703);
    /* margin: 5px; */
}

#box:hover {
    height: 440px;
    margin: -2 0 0 0;
}

#box .image {
    width: 290px;
    height: 200px;
    border-radius: 4px;
    border: 15px solid rgba(135, 207, 235, 0.331);
    object-fit: cover;
}

.image img {
    width: 100%;
    height: 100%;

}

.content {
    margin: 10px;

}

.content p {
    margin: 10px 0;
}

.button {
    width: 130px;
    height: 35px;
    background-color: blue;
    padding: 5px 5px;
    border-radius: 5px;
}

.button a {
    padding: 10px 15px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    background-color: darkblue;
}

.boxhead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* margin: 20px; */
    /* gap: 10px; */
}

.box1 {
    background-color: darkblue;
    width: 100%;
    /* height: 340px; */
    margin: 60px auto;
    padding: 30px;

}

.box1 h2 {
    text-align: center;
    color: white;

}

.mainbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.underbox {
    width: 320px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.24);
    margin: 15px 0 0 0;
}

.underbox h3 {
    color: white;
    padding: 15px 15px 0;

}

.underbox p {
    color: white;
    padding: 12px 12px 12px 12px;

}

.underboxchaild {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin: 20px auto 0;
}

.imagebox2 {
    width: 250px;
    height: 100px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagebox1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.imagebox3 {
    background-color: #fff;
    width: 75%;
    height: 150px;
    margin: 0 auto 120px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
    position: relative;
    z-index: -1;

}

.imagebox3 p {
    font-style: italic;
    padding: 20px;


}

.taital1 {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 300px;
}

.taital1 h4 {
    text-align: right;
    position: absolute;
    right: 21px;
    top: -47px;
}

.taital1 p {
    text-align: right;
    position: absolute;
    right: 0;
    bottom: -20px;
}

footer {
    background-color: rgb(2, 0, 46);
    /* height: 200px; */
    /* position: relative; */
    padding: 20px 20px 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between ;
    flex-wrap: wrap;
}

.logo1 {
    width: 240px;
    height: 90px;
    object-fit: cover;
    padding: 10px;
}

.logo1 img {
    width: 100%;
    height: 100%;
}

.logohead {
    width: 300px;
}

.logohead h3 {
    color: rgb(228, 103, 0);
    padding: 5px 10px;
}

.logohead p {
    color: white;
    font-size: 14px;
    padding: 0 10px;
}

.compnay {
    color: white;
    /* position: absolute; */
    left: 354px;
    top: 30px;

}

.compnay h4 {
    padding: 10px 0 0 0;
    font-weight: 450;
}

.compnay h5 {
    padding: 10px 0 0 0;
    font-weight: 400;
}


.compnay1 {
    color: white;
    /* position: absolute; */
    left: 654px;
    top: 30px;

}

.compnay1 h4 {
    padding: 10px 0 0 0;
    font-weight: 450;
}

.compnay1 h5 {
    padding: 10px 0 0 0;
    font-weight: 400;
}

.compnay2 {
    color: white;
    /* position: absolute; */
    left: 974px;
    top: 30px;

}

.compnay2 h4 {
    padding: 10px 0 0 0;
    font-weight: 450;
}

.compnay2 h5 {
    padding: 10px 0 0 0;
    font-weight: 400;
}